#search_container {
    width: 400px;
    max-width: 100%;
}

.search {
    padding: 15px 35px;

    display: flex;
    justify-content: flex-end;
}

.boards {
    width: 100%;
    padding: 15px 35px;
}

.card_content {
    display: flex;
    flex-direction: column;

    gap: 5px;
    width: 100%;
}