hr {
    margin: 15px 0;
}

#board_name {
    margin-right: auto;
}

.dashboard_main {
    background-color:aquamarine;

    height: 100%;
}

.top {
    padding: 15px 35px;

    display: flex;
    align-items: center;    
}